simple-example-wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CurrencyConverter"
             targetNamespace="http://www.ejemplo.org/CurrencyConverter/"
             xmlns:tns="http://www.ejemplo.org/CurrencyConverter/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema targetNamespace="http://www.ejemplo.org/CurrencyConverter/">
            <xsd:element name="ConvertRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="fromCurrency" type="xsd:string"/>
                        <xsd:element name="toCurrency" type="xsd:string"/>
                        <xsd:element name="amount" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ConvertResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:double"/>
                        <xsd:element name="timestamp" type="xsd:dateTime"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="GetConversionInput">
        <part name="parameters" element="tns:ConvertRequest"/>
    </message>
    <message name="GetConversionOutput">
        <part name="parameters" element="tns:ConvertResponse"/>
    </message>

    <portType name="CurrencyConverterPortType">
        <operation name="GetConversion">
            <input message="tns:GetConversionInput"/>
            <output message="tns:GetConversionOutput"/>
        </operation>
    </portType>

    <binding name="CurrencyConverterSoapBinding" type="tns:CurrencyConverterPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetConversion">
            <soap:operation soapAction="http://www.ejemplo.org/CurrencyConverter/GetConversion"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="CurrencyConverterService">
        <port name="CurrencyConverterPort" binding="tns:CurrencyConverterSoapBinding">
            <soap:address location="http://localhost:8080/axis/services/CurrencyConverter"/>
        </port>
    </service>

</definitions>